
ion-button{
    background-color:rgb(14, 143, 126); 
}
ion-item{
    color: rgb(14, 143, 126); 
}
ion-title{
    text-align: center;
    color: rgb(14, 143, 126); 
}
ion-input{
    color: rgb(14, 143, 126); 
}
ion-select-option{
    color:rgb(14, 143, 126); 
}
span{
    color:red;
}
ion-card{
    border: rgb(202, 199, 199) 2px solid;
}

