
  <ion-toolbar>
    <ion-title>
      List of Students
    </ion-title>
    <ion-input class="search" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search...">
      <ion-icon name="search-outline"></ion-icon>
    </ion-input>
  </ion-toolbar>

<ion-content class="ion-margin" *ngIf="students">
  
  <!-- Custom Refresher Content -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let student of students | filter:searchTerm" (click)='getstudentId(student._id)'>
    <br>
      <ion-label>{{student.first_name  | titlecase}} {{student.last_name  | titlecase}}</ion-label>
    <ion-card-content>
      <ion-row>
        <ion-col> {{student.department  | titlecase}}</ion-col>
        <ion-col> {{student.level}} Level</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- error issue -->
      <ion-content class="ion-margin" *ngIf="error" style="text-align: center;">
        <ion-card style="background-color: grey">
<h3 style="background-color: rgb(14, 143, 126); color:darkred;">Server Error !!!</h3>
<p>Unable to fetch Students</p>
<ion-button (click)= "pageLoad()" color="red">Retry</ion-button>
</ion-card>
  </ion-content>

